*{

    body{
    background-color: rgb(0, 0, 0);
} 
.navbar{
    color:beige;
    padding:20px 40px;
    border-radius:20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: "Asimovian", sans-serif;
    /*border-bottom:4px solid rgb(23, 168, 194);*/
    box-shadow:rgb(41, 41, 41);
    animation: anime 0.5s ease forward;
    }


.nav-links{
    list-style:none;
    display:flex;
    gap:32px;
    color:antiquewhite;
    transition:font-size 0.5s ease;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.nav-links a:hover{
    font-size: 18px;
    color: rgb(44, 168, 251);
}

}